<footer>
    <!-- <div class="pull-right">
      <a href="http://www.goias.gov.br/" title="Governo de Goiás" alt="Governo de Goiás" style="float:right">
        <img [src]="logo">
      </a>
    </div> -->
    <div class="pull-right" style="width:80%; line-height:35px; text-align:right; padding:0px 10px 0px 0px">
      <span class="fa fa-copyright" aria-hidden="true"></span> Todos os direitos reservados. <a href="http://www.sefaz.go.gov.br/" title="Secretaria de Estado da Economia de Goiás">Secretaria de Estado da Economia de Goiás</a>
    </div>
    <div class="clearfix"></div>
  </footer>