<div class="col-md-3 left_col">
    <div class="left_col scroll-view" style="width: 100%;">
      <div class="">
        <a [routerLink]="'/home'" class="site_title_sefazgo">
          <img class="" [src]="logoSite"
            alt="Aplicação do Caio Com Angular-Spring-Kafka" title="Aplicação do Caio Com Angular-Spring-Kafka">
          <img class="" [src]="logoSite"
            alt="Aplicação do Caio Com Angular-Spring-Kafka" title="Aplicação do Caio Com Angular-Spring-Kafka">
        </a>
      </div>
  
      <div class="clearfix"></div>
      <div class="divider"></div>
  
      <!-- menu profile quick info -->
      <a [routerLink]="'/profile'" class="profile clearfix">
  
        <div class="profile_pic">
          <img [src]="profile_img" class="img-circle profile_img" alt="Usuário sem Foto" title="Usuário sem Foto">
        </div>
  
        <div class="profile_info">
          <h2 class="profile_name">{{user.nome}}</h2>
          <h2 class="profile_registration">{{user.cpf}}</h2>
        </div>
      </a>
  
      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
          <ul class="nav side-menu">
  
            <li *ngFor="let menu of menus">
              <a><i class="fa fa-cubes"></i> {{menu.nome}} <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <!-- Sub Menus -->
  
                <!-- Unidades Funcionais -->
                <li *ngFor="let sub of menu.itens" routerLinkActive="current-page" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="[sub.url]">{{sub.nome}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
  
      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="" [routerLink]="'/home'"
          data-original-title="Página Inicial">
          <span class="fa fa-desktop" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="" [routerLink]="'/profile'"
          data-original-title="Informações do Usuário">
          <span class="fa fa-user" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="" [routerLink]="'/setting'"
          data-original-title="Configurações">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="" href="/portalsefaz-admin/logout"
          data-original-title="Logout">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>