<div class="top_nav" id="top-navbar">
    <div class="nav_menu">
      <nav>
        <div class="nav toggle">
          <a id="menu_toggle"><i class="glyphicon glyphicon-option-vertical"
              style="margin: 3px 5px 0px -10px; color:#777"></i></a>
        </div>
  
        <ul class="nav navbar-nav navbar-right">
          <li id="navBarMenuSiglaSistema" style="border-left: 1px solid #D9DEE4; margin:0px 0px 0px 10px">
            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
              style="font-family:Impact; font-size: 24px; color: #777">
              <span style="color: #777;padding-right: 10px"> SDP </span> <span class="fa fa-angle-down"
                style="color:#759A8F"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right">
              <li><a [routerLink]="'/home'"><i class="fa fa-desktop pull-right"></i> Página Inicial</a></li>
              <li><a [routerLink]="'/profile'"><i class="fa fa-user pull-right"></i> Informações do
                  usuário</a></li>
              <li><a [routerLink]="'/setting'"><i class="glyphicon glyphicon-cog pull-right"></i>
                  Configurações</a></li>
              <li id="navBarMenuSiglaSistemaLogout"><a href="/portalsefaz-admin/logout"><i
                    class="glyphicon glyphicon-off pull-right"></i> Log Out</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>